bibliotekdkdisplay.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 (http://www.altova.com) by DBC A/S (DBC A/S) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bibdk="http://oss.dbc.dk/ns/openformatoutput/bibliotekdkdisplay" targetNamespace="http://oss.dbc.dk/ns/openformatoutput/bibliotekdkdisplay" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="fullDisplay">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:adminData"/>
				<xs:element ref="bibdk:content" minOccurs="0"/>
				<xs:element ref="bibdk:creators" minOccurs="0"/>
				<xs:element ref="bibdk:description" minOccurs="0"/>
				<xs:element ref="bibdk:details" minOccurs="0"/>
				<xs:element ref="bibdk:publicationDetails" minOccurs="0"/>
				<xs:element ref="bibdk:title"/>
				<xs:element ref="bibdk:type"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="briefDisplay">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:adminData"/>
				<xs:element ref="bibdk:title"/>
				<xs:element ref="bibdk:creators" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:type"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="workDisplay">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:work"/>
				<xs:element ref="bibdk:manifestation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="work">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:title"/>
				<xs:element ref="bibdk:creators" minOccurs="0"/>
				<xs:element ref="bibdk:description" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="manifestation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:adminData"/>
				<xs:element ref="bibdk:type"/>
				<xs:element ref="bibdk:details" minOccurs="0"/>
				<xs:element ref="bibdk:publicationDetails" minOccurs="0"/>
				<xs:element ref="bibdk:content" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="abstract" type="xs:string"/>
	<xs:element name="accessInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:accessUrl" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="accessUrl" type="xs:string"/>
	<xs:element name="actorNote" type="xs:string"/>
	<xs:element name="adminData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:pid"/>
				<xs:element ref="bibdk:holdbackEndDate" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="alternativeTitle">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:alternativeTitleHeader" minOccurs="0"/>
				<xs:element ref="bibdk:alternativeTitleElement"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="alternativeTitleHeader" type="xs:string"/>
	<xs:element name="alternativeTitleElement" type="xs:string"/>
	<xs:element name="analyticContent">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="bibdk:analyticTitle" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:analyticContributor" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="analyticContributor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:searchCode" minOccurs="0"/>
				<xs:element ref="bibdk:display"/>
			</xs:sequence>
			<xs:attribute name="className" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="analyticRestOfTitle" type="xs:string"/>
	<xs:element name="analyticTitle">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:analyticTitleMain"/>
				<xs:element ref="bibdk:analyticRestOfTitle" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="analyticTitleMain">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:searchCode" minOccurs="0"/>
				<xs:element ref="bibdk:display"/>
			</xs:sequence>
			<xs:attribute name="className" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="audienceSubjectHeader" type="xs:string"/>
	<xs:element name="audienceSubject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:searchCode" minOccurs="0"/>
				<xs:element ref="bibdk:display"/>
			</xs:sequence>
			<xs:attribute name="className" type="xs:string"/>
			<xs:attribute name="punctuation" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="audienceSubjects">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:audienceSubjectHeader"/>
				<xs:element ref="bibdk:audienceSubject" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="content">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:contentHeader"/>
				<xs:element ref="bibdk:analyticContent" minOccurs="0"/>
				<xs:element ref="bibdk:contentTitle" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="contentHeader" type="xs:string"/>
	<xs:element name="contentTitle" type="xs:string"/>
	<xs:element name="context">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:contextElement" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="contextElement" type="xs:string"/>
	<xs:element name="contributors" type="xs:string"/>
	<xs:element name="creator">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:searchCode" minOccurs="0"/>
				<xs:element ref="bibdk:display"/>
			</xs:sequence>
			<xs:attribute name="className" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="creators">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:creator" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="description">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:hostPublication" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:language" minOccurs="0"/>
				<xs:element ref="bibdk:subjects" minOccurs="0"/>
				<xs:element ref="bibdk:abstract" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="descriptionNote" type="xs:string"/>
	<xs:element name="details">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:originalTitle" minOccurs="0"/>
				<xs:element ref="bibdk:alternativeTitle" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:contributors" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:format" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:forms" minOccurs="0"/>
				<xs:element ref="bibdk:seriesTitle" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:relatedSeriesTitle" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:readabilityIndexes" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:shelf" minOccurs="0"/>
				<xs:element ref="bibdk:genre" minOccurs="0"/>
				<xs:element ref="bibdk:audienceSubjects" minOccurs="0"/>
				<xs:element ref="bibdk:markedAudience" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:recommendedAudience" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:usedLanguage" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:actorNote" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:descriptionNote" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:references" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:originals" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:context" minOccurs="0"/>
				<xs:element ref="bibdk:identifiers" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:priceInformation" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:language" minOccurs="0"/>
				<xs:element ref="bibdk:accessInformation" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="display" type="xs:string"/>
	<xs:element name="edition">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="punctuation" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="format" type="xs:string"/>
	<xs:element name="formHeader" type="xs:string"/>
	<xs:element name="forms">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:formHeader"/>
				<xs:element ref="bibdk:formSubject" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="formSubject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:searchCode" minOccurs="0"/>
				<xs:element ref="bibdk:display"/>
			</xs:sequence>
			<xs:attribute name="className" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="genre" type="xs:string"/>
	<xs:element name="holdbackEndDate" type="xs:date"/>
	<xs:element name="hostPublication" type="xs:string"/>
	<xs:element name="identifier" type="xs:string"/>
	<xs:element name="identifierHeader" type="xs:string"/>
	<xs:element name="identifiers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:identifierHeader" minOccurs="0"/>
				<xs:element ref="bibdk:identifier" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:ISSN" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ISSN" type="xs:string"/>
	<xs:element name="language">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:languageHeader"/>
				<xs:element ref="bibdk:languageElement"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="languageElement" type="xs:string"/>
	<xs:element name="languageHeader" type="xs:string"/>
	<xs:element name="markedAudience" type="xs:string"/>
	<xs:element name="originals" type="xs:string"/>
	<xs:element name="originalTitle">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:originalTitleHeader" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:originalTitleElement" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="originalTitleElement" type="xs:string"/>
	<xs:element name="originalTitleHeader" type="xs:string"/>
	<xs:element name="pid" type="xs:string"/>
	<xs:element name="price" type="xs:string"/>
	<xs:element name="priceHeader" type="xs:string"/>
	<xs:element name="priceInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:priceHeader" minOccurs="0"/>
				<xs:element ref="bibdk:price"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="publicationDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:hostPublication" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:format" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:edition" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:publisher" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:publicationYear" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="publicationYear" type="xs:string"/>
	<xs:element name="publisher">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="punctuation" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="readabilityIndexes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:readabilityIndex" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="readabilityIndex" type="xs:string"/>
	<xs:element name="recommendedAudience" type="xs:string"/>
	<xs:element name="references" type="xs:string"/>
	<xs:element name="relatedSeries">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:searchCode"/>
				<xs:element ref="bibdk:display"/>
			</xs:sequence>
			<xs:attribute name="className" type="xs:string"/>
			<xs:attribute name="punctuation" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="relatedSeriesHeader" type="xs:string"/>
	<xs:element name="relatedSeriesTitle">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:relatedSeriesHeader" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:relatedSeries" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="searchCode">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="phrase" type="xs:string" use="optional"/>
					<xs:attribute name="word" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="series">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:searchCode" minOccurs="0"/>
				<xs:element ref="bibdk:display"/>
			</xs:sequence>
			<xs:attribute name="className" type="xs:string"/>
			<xs:attribute name="punctuation" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="seriesHeader" type="xs:string"/>
	<xs:element name="seriesNumber" type="xs:string"/>
	<xs:element name="seriesTitle">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:seriesHeader" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:series" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:seriesNumber" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="shelf">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:shelfHeader"/>
				<xs:element ref="bibdk:shelfMusic" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bibdk:shelfClassification" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="shelfClassification">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:searchCode" minOccurs="0"/>
				<xs:element ref="bibdk:display"/>
			</xs:sequence>
			<xs:attribute name="className" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="shelfHeader" type="xs:string"/>
	<xs:element name="shelfMusic" type="xs:string"/>
	<xs:element name="subject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:searchCode"/>
				<xs:element ref="bibdk:display"/>
			</xs:sequence>
			<xs:attribute name="className" type="xs:string"/>
			<xs:attribute name="punctuation" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="subjectHeader" type="xs:string"/>
	<xs:element name="subjects">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:subjectHeader"/>
				<xs:element ref="bibdk:subject" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="title">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bibdk:titleFull"/>
				<xs:element ref="bibdk:titleSpecific" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="titleFull" type="xs:string"/>
	<xs:element name="titleSpecific" type="xs:string"/>
	<xs:element name="type" type="xs:string"/>
	<xs:element name="usedLanguage" type="xs:string"/>
</xs:schema>
